/* HeroStyles.css */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh; /* Ensure the component takes the full viewport height */
  background: url("../assets/bgf.jpg") center/cover no-repeat;
}

.text-container {
  text-align: center;
  margin-top: 20px;
}

.hero-text {
  font-size: 2.5rem;
  color: white;
  font-family:san-serif;
}

.subtext {
  font-size: 1rem;
  color: white;
  font-famiy:san-serif;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1; /* Expand this section to take available space */
  position: relative; /* To make positioning of robot relative to this container */
}

.robot {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 50%; /* Reduce the maximum width of the robot animation */
}

.vdobutton {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Make the component responsive for small screens */
@media (max-width: 768px) {
  .hero {
    background-size: cover; /* Adjust background size to cover the entire screen */
  }

  .hero-text {
    font-size: 2rem; /* Decrease font size for smaller screens */
  }

  .subtext {
    font-size: 0.8rem; /* Decrease font size for smaller screens */
  }

  .robot {
    max-width: 30%; /* Further reduce robot size on small screens */
    bottom: auto; /* Reset robot position to its default */
    top: 0; /* Position robot at the top for small screens */
  }

  .vdobutton {
    order: -1; /* Move the video button above the text content */
    margin-top: 10px; /* Add less space between the video button and text */
    max-width: 50%; /* Increase the size of the video button even more */
  }
}
